@tailwind base;
@tailwind components;
@tailwind utilities;

.vid-card{
    height: 10rem;
}
.cust-red{
    color: #E50A15;
}
.bg-cust-red{
    background-color:#E50A15;
}
.border-cust-color{
    border-color: #7e7e7e;
}
.cust-inactive{
    color: #909190;
}
.cust-w-vid{
width: 23.5%;
}
.smolHeight{
    height: 5%
}
.cust-progBar{
    background-color: white;
}
.cust-progBar[value]::-moz-progress-bar{
    background-color: #E50A15;
}
.cust-progBar::-webkit-progress-value{
    background-color: #E50A15;
}
.cust-side-w{
    width: 18.8%;
}
.cust-trailer-wh{
    width: 100%;
    height: 35%;
}
.cust-container-h{
    height: 90%;
}
  .cust-icon-s{
    font-size: 0.05rem;
    line-height: 0.25rem;
  }
  .cust-bg-plus{
    background-color: #747474;
  }
  .line-height-0{
    line-height: 0;
  }