@tailwind base;
@tailwind components;
@tailwind utilities;

.vid-card{
    height: 10rem;
    width: 15.5rem;
}
.grow-2{
    flex-grow: 2;
}
.cust-red{
    color: #E50A15;
}
.bg-cust-red{
    background-color:#E50A15;
}
.border-cust-color{
    border-color: #7e7e7e;
}